<div class="w3-content w3-padding" style="max-width:800px">
  <h1>UV Cockpit</h1>

  <hr />

  <p>UV Cockpit currently includes <a routerLink="/uvtracks3d" routerLinkActive="active">UV Tracks 3D Demo</a> and <a routerLink="/uvtracks2d" routerLinkActive="active">UV Tracks 2D Demo</a> web
    applications that demonstrate use of UV Tracks web service for tracking of unmanned vehicles on a 3D and 2D maps.</p>

  <hr />

  <p>UV Tracks service provides access to the <a href="{{missionsUrl}}" id="missions">mission plans</a> and
    <a href="{{tracksUrl}}" id="tracks">reported states</a> saved to the vehicle shadow by UV Hub server
    of <a href="http://envirover.com/spl.html">SPL Global Telemetry System</a>.</p>

  <p>Refer to <a href="http://envirover.com/docs/uvtracks-apidocs.html">UV Tracks REST API v2 documentation</a>
    for instructions on how to use the service from applications.</p>

  <a href="http://envirover.com">Envirover.com</a> | <a href="http://envirover.com/docs">Docs</a> | <a href="http://envirover.com/support">Support</a>

  <br>

  <img alt="SPL Global Telemetry System" src="assets/images/spl_logo.png" />
</div>
